.nav{

}

.nav{
  margin-top: 30px;
  background-color: #5a5a5a;
  padding: 10px;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: red;
}

.nav a {
  color: white;
  font-size: 14px;
  padding: 20px 20px; 
  text-transform: uppercase;
  text-decoration: none; 
  display: inline;

}

.nav li {
  display: inline;

}
/*
.navleft {
  color:red;
  float: left;
  display: inline;
}

.navright{
  font-color: red;
  float: right;
  display: inline;
}*/
.jumbotron {
  background-image:url('hancock.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  background-color: #5a5a5a;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 10%;
  /*left: 65px; */
  opacity: 0.3;
}

.jumbotron .container .h1 {
  color: blue;
  font-weight: thin;
  opacity: 1;
}
/*
.jumbotron h1 {
  color: black;
  font-size: 48px;  
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}
*/
.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}