html {
  height: 100%;
}
.nav{
  margin-top: 15px;
  height:50px;
  background-color: #7a7a7a;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav a {
  color: white;
  font-weight: 300;
  font-size: 18px;
  padding-left: 20px; 
  padding-right: 20px; 
  text-transform: uppercase;
  text-decoration: none;
}

.nav li {
  display: inline;
}

.navleft {
  float: left;
  display: inline;
}

.navright{
  margin-right: 30px;
  float: right;
  display: inline;
}

.jumbotron {
  background-image:url('hancock.jpg');  
  height: 490px;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 1;
}

.jumbotron .banner {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 10%;
  height: 130px;
  position: relative; 
  background-color: #5a5a5a;
  
  opacity: 0.4;
  z-index: 2;
}

.jumbotron .banner .text{
  position: static;
  line-height: 10px;
}
.jumbotron .banner h1 {
  position: static;
  font-size: 50px;
  padding-left: 60px;
  padding-top: 40px;
  color: white;
  font-weight: 200;
}

.jumbotron .banner p {
  position: static; 
  display: inline;
  padding-left: 60px;
  font-size: 20px;
  font-weight: 0;
}

.picture{
 display: inline;
 position:absolute;
 top: 125px;
 float: right;
 margin-right: 50px;
 margin-left: 65.5%;
 z-index: 5; 
}

.picture img {
  position: static;
  height: 100%;
  width: 100%;
}

.text-emphasis{
  font-weight: bold;
}
.textbox-left{
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: justify;
  position: relative;
  bottom: -20%;
  margin-left: 60px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  height: 215px;
  width: 455px;
  opacity: 0.5;

}

.textbox-right{
 display: inline;
 font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
 text-align: justify;
 position:relative;
 top: -365px;
 height: 480px;
 float: right;
 width: 590px;
 margin-right: 50px;
 padding-top: 10px;
 padding-left: 30px;  
 padding-right: 30px;
 background-color: white;
 opacity: 0.5;
 z-index: 5; 
}

.textbox-left h3{
  font-size: 16px;
  text-transform: uppercase;
  line-height: 2px;
  margin-bottom: 8px;
}

.textbox-right h3{
  font-size: 16px;
  text-transform: uppercase;
  line-height: 2px;
  margin-bottom: 8px;
}

.textbox-right ul{
margin-top: -3px;
margin-bottom: 3px;
list-style-type: square;
}


