.nav{
  margin-top: 30px;
  margin-bottom: 30px;
  height:50px;
  background-color: #9a9a9a;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav a {
  color: white;
  font-size: 18px;
  padding-left: 20px; 
  padding-right: 20px; 
  text-transform: uppercase;
  text-decoration: none;
}

.nav li {
  display: inline;

}

.navleft {
  float: left;
  display: inline;
}

.navright{
  font-color: red;
  float: right;
  display: inline;
}

.jumbotron {
  background-image:url('hancock.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  top: 10%;
  height: 130px;
  position: relative;
  background-color: #5a5a5a;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  opacity: 0.3;
}

.jumbotron .container .h1 {
  color: blue;
  font-weight: thin;
  opacity: 1;
}
/*
.jumbotron h1 {
  color: black;
  font-size: 48px;  
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}
*/
