.nav{
  margin-top: 15px;
  height:50px;
  background-color: #7a7a7a;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav a {
  color: white;
  font-weight: 300;
  font-size: 18px;
  padding-left: 20px; 
  padding-right: 20px; 
  text-transform: uppercase;
  text-decoration: none;
}

.nav li {
  display: inline;

}

.navleft {
  float: left;
  display: inline;
}

.navright{
  margin-right: 30px;
  float: right;
  display: inline;
}

.jumbotron {
  background-image:url('hancock.jpg');
  height: 490px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  top: 10%;
  height: 130px;
  position: relative;

  background-color: #5a5a5a;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  opacity: 0.3;
}

.jumbotron .container h1 {
  font-size: 50px;
  padding-left: 60px;
  padding-top: 30px;
  color: white;
  font-weight: 200;
}

.jumbotron .container p {
  position: relative; 
  display: inline;
  padding-left: 60px;
  font-size: 20px;
  font-weight: 0;
}

.resume {
  background-color: #cccccc;
  text-align: center;
  /*margin-left: 60px; */
  margin-top: 30px;
  /*margin-right: 50px; */
  padding-top: 60px;
  /*padding-bottom: 50px; */
  position: relative;
  height:200%;
}
.resume object{
  width: 100%; 
  height: 195%;
}

}
/*
.jumbotron h1 {
  color: black;
  font-size: 48px;  
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}
*/
