.nav{
  background-color: green;
  padding: 5px;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.nav a {
  color: red;
  font-size: 18px;
  padding: 20px 20px; 
  text-transform: uppercase;
  text-decoration: none;
  background-color: #5a5a5a;


}

.nav li {
  display: inline;

}

.navleft {
  float: left;
  display: inline;
  background-color: #5a5a5a;
}
.navright{
  font-color: red;
  float: right;
  display: inline;
  background-color: #5a5a5a;

}

.jumbotron {
  background-image:url('hancock.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  background-color: #5a5a5a;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 10%;
  /*left: 65px; */
  opacity: 0.3;
}

.jumbotron .container .h1 {
  color: blue;
  font-weight: thin;
  opacity: 1;
}
/*
.jumbotron h1 {
  color: black;
  font-size: 48px;  
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}
*/
