
body{
	background-color: #D4E6F7;
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

h1{
	text-align: center;
	margin-top: 15%;

}

.container{
	margin-top: 10%;
	margin-left: 10%;
	margin-right:10%;
}

.form-control{
	min-width: 220px;
	min-height: 50px;
	font-size: 18px;
	text-transform: uppercase;

}

#log {
	margin-top: 10%;
	min-width: 40%;
	font-size: 18px;
	color: #4a4a4a;
}

#start {
	margin-top: 20%;
	min-width: 220px;
	min-height: 100px;
	font-size: 30px;
	text-transform: uppercase;
	background-color: #7DBD9D;
	color: #4a4a4a;
	line-height: 80%;
}


#stop {
	margin-top: 20%;
	min-width: 220px;
	min-height: 100px;
	font-size: 30px;
	text-transform: uppercase;
	background-color: #FFC967;
	color: #4a4a4a;
}

.poop{
	margin-top: 10%;
	margin-left: 15%;
	width: 220px;
	height: 150px;
	background-color: white;

}

.poop h3{
	font-size: 16px;
}

hr{
	margin-top: 10px;
	margin-bottom: 5px;
}

#time-a {
	background-color: #e6e6e6;
}

.weeklygoals-textfield{
	background-color: white;
	padding-top: 3%;
	padding-left: 3%;
	padding-right: 3%;
	height: 400px;
}

.logcontent{
	margin-left: 5%;
	text-align: left;
	font-size: 16px;
}

.activebtn{
	background-color: #7DBD9D;
	color: white;
	outline: none;
	outline-width: 0px;
	outline-color: white;
}

#goal {
	color: #397959;
}

.logdate{
	color: white;
	background-color: #7DBD9D;
	min-width: 100%;
}

.plebebtn{
	background-color: white;
	color: #7DBD9D;
	outline: none;
	outline-color: white;
	outline-width: 0px;
}

#distance-a{
	color: red;
	text-align: right;
}

#distance-b{
	background-color: #CBE5D8;
	text-align: right;
}

#split-a {
	background-color: #e6e6e6;
}
}